# ===================================================
# WARNING: Contains environment variables and secrets
# ===================================================
config.yaml

# =============================================
# Editor / IDE Specific Files
# =============================================
.idea/

# ==============================================
# Python Related Cache Files
# ==============================================
__pycache__/
utils/__pycache__/